@import "@/scss/base/variables.scss";

* {
  box-sizing: inherit;
  margin: 0;
}

html {
  font-size: 14px;
  line-height: 16px;
  font-family: "Montserrat-Regular";
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
  margin: 0;
}

#app {
  background-color: $white-color;
  overflow: hidden;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Scroll */
.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a8a8a8;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f1f1f2;
}

/* Class */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.line-break-2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-break-3 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.text-bold {
  font-weight: bold;
}

.mr-12 {
  margin-right: 12px;
}

/* Css cho combobox */
.multiselect__placeholder {
  display: none !important;
}

.multiselect__option--selected.multiselect__option--highlight:after {
  display: none;
}

.multiselect__option--highlight:after {
  display: none;
}

.multiselect__option--selected:after {
  display: none;
}

.multiselect__strong {
  display: none !important;
}
