.chapter {
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #bbbbbb;
  .chapter-name {
    margin-bottom: 10px;
    .chapter-name-input {
      flex: 1;
    }
    .remove-chapter {
      cursor: pointer;
      font-size: 24px;
      width: 26px;
      color: red;
      margin-left: 12px;
    }
  }
  .lesson {
    margin: 0 10px 8px 10px;
    padding: 8px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    .lesson-name {
      .lesson-name-input {
        flex: 1;
      }
      .remove-lesson {
        cursor: pointer;
        font-size: 22px;
        width: 26px;
        color: red;
        margin-left: 12px;
      }
    }
    .lesson-content {
      .content-video {
        .label-video {
        }
        .data-video {
          margin: 10px;
          .video-btn {
            flex: 1;
          }
          .video-name {
            flex: 5;
            margin-right: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .content-file {
        .label-file {
        }
        .data-file {
          margin: 10px;
          .file-btn {
            flex: 1;
          }
          .file-name {
            flex: 5;
            margin-right: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
