.course-detail {
    .cd-title {
        font-weight: bold;
        font-size: 24px;
    padding: 20px 0 20px 40px;
    }
    .cd-infor {
        margin-right: 20px;
        .title {
            font-weight: bold;
            font-size: 18px;
        }
        .detail {
            .item {
                .label {

                }
                .data {
                    .input-data {

                    }
                    .cb-category {
                    }
                    .cb-subcategory {
                    }
                }
            }
        }
    }
    .cd-content {

    }
}