@import "@/scss/base/variables.scss";

.course-learn {
  height: 100vh;
  .cl-header {
    background-color: #29303b;
    height: 50px;
    position: relative;
    z-index: 1;
    .back {
      color: $white-color;
      font-size: 20px;
      margin: 0 20px;
      cursor: pointer;
    }
    .course-name {
      color: $white-color;
      font-family: "Montserrat-Italic";
      font-weight: bold;
      font-size: 20px;
    }
  }
  .cl-main {
    height: calc(100vh - 50px);
    .cl-left {
      flex: 3;
      .cl-left-tab {
        height: 50px;
        border-bottom: 4px solid #aaa;
        .tab {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          cursor: pointer;
          font-weight: bold;
          font-size: 18px;
        }
        .tab-active {
          background-color: #00cd66;
          color: white;
        }
        .tab-video {
          border-right: 1px solid #aaa;
        }
        .tab-file {
          border-left: 1px solid #aaa;
        }
      }
      .cl-left-content {
        // background-color: $black-color;
        overflow: auto;
        .cl-left-video {
          width: 1000px;
          margin: 20px auto;
        }
        .cl-left-file {
          width: 1000px;
          height: 100%;
          position: relative;
          margin: auto;
        }
      }
    }
    .no-select-lesson {
      position: relative;
      flex: 3;
      justify-content: center;
      .welcome-text {
        position: absolute;
        color: $white-color;
        top: 220px;
        .welcome-str {
          font-family: "Montserrat-Italic";
          font-weight: bold;
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 160px;
          .course-name {
          }
        }
        .guide {
          position: absolute;
          right: 80px;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .cl-left-test {
      flex: 3;
      overflow: auto;
      height: calc(100vh - 50px);
      .cl-test-header {
        position: sticky;
        top: 0;
        padding: 20px;
        background-color: white;
        border-bottom: 1px solid #eee;
        .cl-test-title {
          font-weight: bold;
          font-size: 18px;
        }
      }
      .cl-test-content {
        padding: 20px;
      }
    }
    .cl-right {
      flex: 1;
      overflow: auto;
      border-left: 1px solid #e7e7e7;
      .cl-right-title {
        position: sticky;
        z-index: 1;
        top: 0;
        background-color: white;
        padding: 0 10px;
        p {
          height: 50px;
          align-items: center;
          display: flex;
          justify-content: center;
          font-family: "Montserrat-Medium";
          font-weight: bold;
          font-size: 20px;
        }
        .icon-evaluate {
          font-size: 22px;
          margin: 0 4px;
          padding: 4px;
          border-radius: 4px;
          background-color: #f5f5f5;
          color: #ffb90f;
          border: 1px solid #ffb90f;
          cursor: pointer;
        }
      }
      .cl-right-content {
        .cl-item-chapter {
          background-color: #f7f8fa;
          border-bottom: 1px solid #dedfe0;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 8px 20px;
          font-weight: bold;
          font-size: 18px;
          .cl-item-chapter-name {
            line-height: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .cl-item-lesson {
            display: flex;
            flex-direction: row;
            padding: 14px 0 14px 16px;
            position: relative;
            transition: all 0.3s ease-in-out;
            background-color: #ffffff;
            font-weight: normal;
            font-size: 16px;
            margin-top: 10px;
            border-radius: 4px;
            line-height: 19px;
            &:hover {
              background-color: #f1f1f1;
              cursor: pointer;
            }
          }
          .cl-item-lesson-active {
            background-color: rgba(240, 81, 35, 0.2);
            &:hover {
              background-color: rgba(240, 81, 35, 0.2);
              cursor: pointer;
            }
          }
        }
        .cl-test {
          height: 50px;
          color: white;
          font-size: 16px;
          font-weight: bold;
          background-color: #0099ff;
          justify-content: center;
          cursor: pointer;
          border-top: 2px solid #dedfe0;
        }
      }
    }
  }
}
