@import '@/scss/base/variables.scss';

.course-detail {
  background-color: #f7f8fa;
  .line-center{
    width: 100px;
    height: 2px;
    color: black;
  }
  .cd-title {
    z-index: 1;
    font-family: "Montserrat-Bold";
    font-weight: bold;
    font-size: 24px;
    padding: 20px 0;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid #a9adb1;
    background-color: #f7f8fa;
  }
  .cd-infor {
    margin: 10px 20px;
    .title {
      font-family: "Montserrat-Medium";
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .detail {
      border: 1px solid #DDDDDD;
      padding: 10px;
      border-radius: 6px;
      .item {
        margin: 10px 0;
        .label {
        }
        .data {
          .input-data {
          }
          .cb-cat {
          }
          .cb-category {
          }
          .cb-subcategory {
          }
          textarea {
            width: 100%;
            font-family: 'Montserrat-Regular';
            font-size: 14px;
            color: #212121;
            border: 1px solid #e8e8e8;
            border-radius: 6px;
            background-color: #ffffff;
            outline: none;
            padding: 10px 16px;
            &::placeholder {
              font-family: 'Montserrat-Light';
            }
            &:focus-within {
              border: 1px solid $focus-color;
            }
          }
        }
      }
    }
  }
  .cd-content {
    margin: 10px 20px;
    .title {
      font-family: "Montserrat-Medium";
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .main-content {
      border: 1px solid #DDDDDD;
      padding: 10px;
      border-radius: 6px;
    }
  }
  .cd-test {
    margin: 10px 20px;
    .test-title  {
      font-family: "Montserrat-Medium";
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }
    .test-content {
      border: 1px solid #DDDDDD;
      padding: 10px;
      border-radius: 6px;
      .add-question {

      }
    }
  }
  .cd-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    bottom: 0;
    height: 50px;
    border-top: 1px solid #a9adb1;
    background-color: #f7f8fa;
    padding-right: 20px;
  }
}
